<div class="banner p-5" style="background-image:  url('<%= cl_image_path 'lcmlxkd5lrefmtt7dkhz' %>');">
  <div class="banner-content">
    <h1>Here are my awesome cocktails</h1>
      <%= link_to "Show me the cocktails", cocktails_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
